/* .react-multiple-carousel__arrow {
  bottom: 0;
  align-items: center;
  justify-content: center;
  margin-left: 38%;
  margin-right: 38%;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  min-height: 70vh;
  /* justify-content: center; */
/* display: flex; */
/* } */
